.tab-button-li {
  //display: none;
}

.tab-button-li.active {
  border-width: 2px;
  border-top-color: rgba(173, 216, 230, 0.5);
  border-left-color: rgba(173, 216, 230, 0.5);
  border-right-color: rgba(173, 216, 230, 0.5);
  border-bottom-color: rgba(173, 216, 230, 0);
  border-radius: 8px 8px 0 0;
}

.tab-button-a {
  color: #555;
}

.tab-button-a.active {
  //background-color: green;
}

.tab-pane-1 {
  //border: 1px solid red;
}

.tab-pane-1.active {
  border-top-width: 2px;
  border-top-color: rgba(173, 216, 230, 0.5);
}

.tab-pane-2 {
  display: none;
}

.tab-pane-2.active {
  display: block;
  //border-top: 1px solid lightblue;
}
